/*------------------------/
  Footer CSS 
/*----------------------*/
.footer-area {
  position: relative;
  z-index: 1;
}
.footer-area p {
  color: var(--bs-body-color);
}
.footer-area .navbar-brand img {
  max-width: 180px;
}
.footer-area .title {
  color: #000;
}
.footer-area .footer-widget-item a {
  text-decoration: none;
  color: var(--bs-body-color);
  display: inline-block;
  transition: all 0.4s ease;
  position: relative;
}
.footer-area .footer-widget-item a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 4px;
  background: var(--bs-primary);
  top: 50%;
  transform: translateY(-50%) scale(0);
  left: 0px;
  transition: transform 0.3s ease-in-out;
}
.footer-area .footer-widget-item a:hover {
  padding-inline-start: 16px;
}
.footer-area .footer-widget-item a:hover::before {
  transform: translateY(-50%) scale(1);
}
.footer-area .footer-widget-item a:hover {
  color: var(--bs-primary);
}
.footer-area .footer-widget i {
  color: var(--bs-primary);
  margin-inline-end: 7px;
}
.footer-area .subscribe-group-btn {
  display: flex;
  justify-content: space-between;
  background: #363636;
  overflow: hidden;
  backdrop-filter: blur(2px);
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.footer-area .subscribe-group-btn input {
  color: var(--bs-body-color);
  font-family: var(--bs-body-font-family);
  font-size: 15px;
  background: #363636;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 15px 14px 15px 20px;
  width: calc(100% - 120px);
  border: 0;
}
.footer-area .subscribe-group-btn input:focus-visible {
  border: 0;
  outline: 0;
  background-color: #363636;
}
.footer-area .subscribe-group-btn input:-webkit-autofill {
  -webkit-text-fill-color: var(--bs-body-color) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
.footer-area .subscribe-group-btn .subscribe-btn {
  border-radius: 8px;
  font-family: var(--bs-body-font-family);
  color: var(--bs-white);
  background: var(--bs-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  padding: 0 8px;
  outline: 0;
  transition: all 0.3s ease;
  border: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 120px;
  text-transform: capitalize;
  border-radius: 10px;
}
.footer-area .socials {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
.footer-area .socials a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #E9E9EA;
  background: rgba(var(--bs-primary-rgb), 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  color: var(--bs-primary);
}
.footer-area .socials a:hover {
  background: rgba(var(--bs-primary-rgb), 1);
  color: var(--bs-white);
  transform: translateY(-5px);
}
.footer-area .footer-copyright {
  border-top: 2px solid #1F2021;
  text-align: center;
}

/*-------------------------
  footer-copyright
-------------------------*/

/*# sourceMappingURL=footer.css.map */
