@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-Italic.woff") format("woff2"),
        url("../fonts/inter/Inter-Italic") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-Regular.woff") format("woff2"),
        url("../fonts/inter/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    color: #333542;
}

body {
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.text-white {
    color: #fff;
}

.gry-color *,
.gry-color {
    color: #878f9c;
}

table {
    width: 100%;
}

thead td {
    font-weight: normal;
    padding: 0.5rem 0.7rem;
}

table.padding td {
    padding: 0.7rem;
}

table.sm-padding td {
    padding: 0.2rem 0.7rem;
}

.border-bottom td,
.border-bottom th {
    border-bottom: 1px solid #eceff4;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.small {
    font-size: 0.8rem;
}

.extra_small {
    font-size: 0.78rem;
}

.strong {
    font-weight: bold;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.d-inline-block {
    display: inline-block;
}

.ml-20 {
    margin-left: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.info-titles {
    background: #eceff4;
}

.mt-80 {
    margin-top: 80px;
}

.regards {
    font-size: 0.8rem;
    padding-right: 1.5rem;
}

.variation-table-order tbody tr td,
.variation-table tbody tr td {
    padding: 1px 02px !important;
}

.variation-table-order tbody tr td {
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.border {
    border: 1px solid #eceff4;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pb-30 {
    padding-bottom: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-25 {
    margin-bottom: 30px;
}

.mb-5 {
    margin-bottom: 5px;
}

.fw-bold {
    font-weight: bold;
}

.mt-50 {
    margin-top: 50px;
}

/* .clearfix {
    overflow: auto;
    } */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-center {
    text-align: center !important;
}

/* invoice */
.invoice-container {
    width: 100%;
    box-sizing: border-box;
}

.invoice-header {
    background: #ddd;
    padding: 16px 14px;
}

.invoice-heading {
    font-size: 2.2rem;
    line-height: 1;
    vertical-align: middle;
    margin-top: 3px;
}

.item_thead_td_weight {
    font-weight: 500;
}

/* tm_invoice_info */

.tm_invoice_info_table table {
    width: 100%;
    padding: 4px 0;
    display: table;
    border-spacing: 0px;
    border-collapse: collapse;
    height: 10px;
}

.tm_invoice_info_table table td {
    font-size: 16px;
}

.tm_invoice_info_table-2 table td {
    font-size: 16px;
    padding: 7px 9px;
}

.tm_invoice_info_table-2 table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

.tm_invoice_info_table-2 table th,
.tm_invoice_info_table-2 table td {
    border: 1px solid #dee2e6;
    vertical-align: top;
    color: #212529;
}

.mb-30 {
    margin-bottom: 30px;
}

/* package-info-table */
.tm_border_left {
    border-left: 1px solid #dbdfea;
}

.package-info {
    padding-left: 15px;
    padding-right: 15px;
}

.package-info-table {
    display: table;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.package-info-table thead th {
    padding: 7px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.package-info-table tbody td {
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 400;
}

.table-striped thead td {
    padding: 7px 15px;
    font-weight: 500;
    font-size: 16px;
}

.table-striped tbody td {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* tm_invoice_footer */
.tm_border_top {
    border-top: 1px solid #dbdfea;
}

.tm_border_bottom {
    border-bottom: 1px solid #dbdfea;
}

.tm_invoice_footer {
    margin-top: 12px;
}

.tm_invoice_footer .tm_right_footer {
    width: 300px;
}

.tm_invoice_footer table {
    display: table;
    border-spacing: 0px;
    border-collapse: collapse;
    float: right;
}

.tm_invoice_footer tbody td {
    padding: 4px 15px;
    font-size: 13px;
}

.paid-tr > td {
    padding: 7px 15px !important;
}

.tm_invoice_footer tbody tr:last-child td {
    border-bottom: none;
}

.tm_invoice_footer .tm_left_footer {
    padding: 20px 15px;
}

/* tm_note_area */
.tm_note_area {
    background: rgba(0, 122, 255, 1.3);
    padding: 15px 20px;
}

.tm_note_list {
    padding-left: 15px;
    margin-bottom: 0;
}

.tm_note_list li {
    font-size: 14px;
}

/* bootstarp table */
.custom-bordered-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

.custom-bordered-table th,
.custom-bordered-table td {
    border: 1px solid #dee2e6;
    text-align: left;
    vertical-align: top;
    color: #212529;
}

.custom-bordered-table thead th {
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 7px 15px;
}

.text-success {
    color: #28a745;
}

.text-info {
    color: #17a2b8;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}
